body {
    font-family: Arial, sans-serif;
    background-color: #691a81;
    margin: 0;
    padding: 0;
    text-align: center;
}

main {
    padding: 40px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

h1 {
    color: #ffffff;
    margin-top: 50px;
    font-weight: bolder;
}   

a {
    font-weight: bolder;
    color: #691a81;
    text-decoration: none;
}

a:hover {
    background-color: rgb(231, 189, 255);
    color: #330541;
}

footer {
    margin-top: 20px;
    color: #ffffff;
    font-size: 14px;
}